.b {
  border: 1px solid black;
}

body {
  margin: 0;
}

h1,
p,
a,
.brand-logo {
  font-family: "Raleway", sans-serif;
}

h1 {
  color: #3db642;
  font-size: 50px;
  margin: 0 0 10px;
  text-transform: uppercase;
}

p {
  color: white;
  margin: 0;
  font-size: 24px;
}

.navbar--animate {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
}

.navbar--animate ul a,
.navbar--animate .brand-logo,
.navbar--animate .sidenav-trigger {
  color: black;
}

.slideshow {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: black;
}

.slideshow .slides {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slideshow .slides .slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
}

.slideshow .slides .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideshow .slides .slide .content {
  position: relative;
  margin-left: 50px;
  width: 300px;
}

.current-slide {
  opacity: 0.8 !important;
  pointer-events: auto !important;
}

/* Class overrides */
.navbar-fixed {
  position: absolute !important;
  height: 64px;
}

nav {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

nav .nav-wrapper {
  padding: 0 50px;
}

nav .sidenav-trigger i {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

nav,
nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons,
nav .sidenav-trigger i {
  height: 64px;
  line-height: 64px;
}

nav ul a {
  -webkit-transition: color 0.3s ease-in-out !important;
  transition: color 0.3s ease-in-out !important;
}

nav ul a:hover {
  background-color: transparent !important;
  color: #3db642;
}

nav ul li.active {
  background-color: transparent;
  color: #3db642;
  font-weight: bold;
}

.brand-logo {
  /* font-family: "Dancing Script", cursive; */
  font-weight: 400;
  transition: color 0.3s ease-in-out !important;
}

.brand-logo:hover,
nav .sidenav-trigger i:hover {
  color: #3db642;
}
