.b {
  border: 1px solid black;
}

body {
  margin: 0;
}

.slideshow {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slides {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
}

.slide--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.6;
}

.slide--content {
  position: relative;
  margin: 0 50px;
}

.slide.current--slide {
  opacity: 1;
  pointer-events: auto;
}
