:root {
  --dark-pri-color: #212121;
  --dark-sec-color: #f5f5f5;
  --light-color: #fff;
  --accent-pri-color: #3db642;
  --accent-sec-color: #f7ac22;

  --fs-title: 20px;
  --fs-subtitle: 15px;
  --fs-txt: 10px;
}

.b {
  border: 1px solid black;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  user-select: none;
  background-color: var(--dark-sec-color);
}

h1,
h2,
span,
a,
p,
blockquote,
i {
  font-family: "Raleway", sans-serif;
}

blockquote {
  margin: 0 !important;
  font-size: 20px;
  font-weight: 700;
  border-left: 15px solid #f7ac22 !important;
  background-color: #fff;
  border-radius: 0 20px 20px 0;
  line-height: 1.8;
}

h1 span,
h2 span {
  opacity: 0;
}

h1 {
  margin: 0 !important;
  font-size: 50px;
  text-transform: uppercase;
  color: #3db642;
  font-weight: 700 !important;
  line-height: 60px !important;
}

h2 {
  margin: 18px 0 0 0 !important;
  font-size: 25px !important;
  color: #fff;
  line-height: 30px !important;
  font-weight: 600 !important;
}

p {
  font-weight: 500;
  text-align: justify;
  line-height: 1.8;
}

strong {
  font-weight: 700 !important;
}

/* Navbar styles */

.navbar-fixed {
  position: absolute !important;
  height: 100px !important;
  transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
}

nav,
.btn,
.collapsible,
.card {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

nav .nav-wrapper {
  padding: 0 50px;
}

nav .sidenav-trigger i {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

nav .logo {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

nav .logo svg {
  width: 80px;
  fill: #ffffff;
  transition: fill ease-in-out 0.3s;
  -webkit-transition: fill ease-in-out 0.3s;
}

nav .logo svg:hover {
  fill: #3db642;
}

nav .brand-logo {
  font-size: 28px;
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  transition: color 0.3s ease-in-out !important;
}

nav .sidenav-trigger i:hover,
nav .brand-logo:hover {
  color: #3db642 !important;
}

nav,
nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons,
nav .sidenav-trigger i {
  height: 100px !important;
  line-height: 100px !important;
}

nav ul a {
  margin: 0 10px;
}

nav ul a:not(.btn) {
  -webkit-transition: color 0.3s ease-in-out !important;
  transition: color 0.3s ease-in-out !important;
  font-weight: 600;
}

nav ul a:not(.btn):hover {
  background-color: transparent !important;
  color: #3db642;
}

nav ul li.active {
  background-color: transparent;
  color: #3db642;
  font-weight: bold;
}

.navbar--animate {
  height: 64px !important;
}

.navbar--animate nav {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  height: 64px !important;
}

.navbar--animate nav i,
.navbar--animate nav,
.navbar--animate nav [class^="mdi-"],
.navbar--animate nav [class*="mdi-"],
.navbar--animate nav i.material-icons,
.navbar--animate nav .sidenav-trigger i {
  height: 64px !important;
  line-height: 64px !important;
}

nav .brand-logo,
.navbar--animate nav ul a:not(.btn),
.navbar--animate nav .sidenav-trigger {
  color: black !important;
}

/* Button styles */

.btn {
  background-color: #3db642 !important;
  text-transform: none !important;
  font-weight: 600;
  border-radius: 20px !important;
  padding: 0 28px !important;
}

/* Heading styles */

.section--title {
  font-family: "Dancing Script", cursive;
  text-transform: capitalize;
  margin-bottom: 30px !important;
}

/* Image styles */

img {
  object-fit: cover;
}

.about-img {
  width: 100%;
  max-height: 450px;
  border-radius: 20px;
}

/* Slideshow styles */

.slideshow {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slides {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
}

.slide--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.4;
}

.slide--content {
  position: relative;
  margin: 0 50px;
  max-width: 450px;
}

.slide.current--slide {
  opacity: 1;
  pointer-events: auto;
}

.slide--nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slide--nav span {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  transition: color ease-in-out 0.3s;
}

.slide--nav span:hover {
  color: #3db642;
}

.slide--nav span.current--indicator {
  color: #3db642;
}

.slide--nav .bar {
  width: 50px;
  height: 3px;
  background-color: #fff;
  margin: 0 8px;
}

/* .slide--nav .bar--inner {
  background-color: #3db642;
  height: 100%;
  width: 20px;
  -webkit-animation: animateBar 5s linear;
  animation: animateBar 5s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
} */

@keyframes animateBar {
  from {
    width: 0px;
  }
  to {
    width: 50px;
  }
}

@-webkit-keyframes animateBar {
  from {
    width: 0px;
  }
  to {
    width: 50px;
  }
}

.letter-effect {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Collapsible */

.collapsible {
  border: none !important;
  margin: 0 !important;
  border-radius: 10px !important;
}

.collapsible .collapsible-header {
  padding: 10px 20px !important;
  background-color: var(--light-color) !important;
  align-items: center !important;
}

.collapsible .collapsible-header i {
  width: auto !important;
  font-size: 40px;
  margin-right: 50px !important;
}

.collapsible .collapsible-header span {
  font-weight: 600;
}

.collapsible .collapsible-header.curve--top {
  border-radius: 10px 10px 0 0;
}

.collapsible .collapsible-body {
  background-color: var(--light-color);
}

/* Footer styles */

.page-footer {
  padding: 0 !important;
  background-color: var(--light-color) !important;
  color: var(--dark-pri-color) !important;
}

.page-footer .container {
  padding: 14px 0;
}

.page-footer .contact--info {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 16px;
}

.page-footer .contact--info i {
  margin-right: 8px;
}

.page-footer .contact--info span {
  font-weight: 600;
}

.page-footer .footer-copyright {
  padding: 18px 50px !important;
  background-color: var(--dark-pri-color) !important;
}

.page-footer .footer-copyright .socials {
  display: flex;
  justify-content: center;
}

.page-footer .footer-copyright .socials a {
  display: inline-flex;
  width: 26px;
  height: 26px;
  margin-right: 14px;
}

.page-footer .footer-copyright .socials a svg {
  width: 26px;
  height: 26px;
  fill: var(--light-color);
}

/* Grid styles */

.row {
  margin-bottom: 0 !important;
}

/* .row .col {
  padding: 10px 0 !important;
}

.row .col p {
  margin: 0 !important;
} */

/* Helper classes */
.wrapper--spacing {
  padding: 0 50px;
}

.section--wrapper {
  margin: 50px 0;
}

.border--none {
  border: none !important;
}

/* Media Queries */

@media only screen and (max-width: 992px) {
  nav .logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
